.delete-btn {
    color: red;
}

.checkbox__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

input:checked + label {
    text-decoration: line-through
}